In [2]:
import pandas as pd

import plotly
import plotly.express as px
plotly.offline.init_notebook_mode(connected=True)

In [ ]:
# https://plot.ly/ipython-notebooks/cufflinks/

import chart_studio.plotly as py
import plotly.graph_objects as go

# fig = go.Figure(go.bar)

df.premise_type.value_counts().head(10).reset_index().iplot()

plotly.io.show()

In [ ]:
import plotly.tools as tls
# tls.embed('https://plot.ly/~cufflinks/8')
import cufflinks as cf
cf.go_offline()
cf.set_config_file(offline=False, world_readable=True)

In [4]:
df = pd.read_csv('data\Auto.csv')

In [5]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino