## Project Euler
Now that you’ve learned a little bit about algorithms and written some really simple but essential code, it’s time to put those skills to the test. There is one resource above all that helps data scientists and other engineers practice their mathematical programming skills: [Project Euler](https://projecteuler.net/archives).

### Problem 1
If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.

Find the sum of all the multiples of 3 or 5 below 1000.

In [48]:
n = 0

for i in range(1, 1000, 1):
    if ((i % 3 == 0) or (i % 5 == 0)):
        n+=i
    else:
        pass
n

233168

### Problem 2
Each new term in the Fibonacci sequence is generated by adding the previous two terms. By starting with 1 and 2, the first 10 terms will be:

1, 2, 3, 5, 8, 13, 21, 34, 55, 89, ...

By considering the terms in the Fibonacci sequence whose values do not exceed four million, find the sum of the even-valued terms.

In [87]:
# rather than iterate and populate
# a whole list, simply change the elements
# within the same list
numbers = [0, 1]

while numbers[-1] < 4000000:
    numbers.append(numbers[-1] + numbers[-2])

# once the numbers list is populated
# find the evens and form those into another list to be added
evens = []
for n in numbers:
    if n % 2 == 0:
        evens.append(n)

print(sum(evens))

4613732

### Problem 3
The prime factors of 13195 are 5, 7, 13 and 29.

What is the largest prime factor of the number 600851475143 ?

In [119]:
n = 600851475143
prime_factor = 1
i = 2

while i <= (n / i):
    if n % i == 0:
        prime_factor = i
        n /= i
    else:
        i += 1
        
    if prime_factor < n:
        prime_factor = n

print(int(prime_factor))

6857

### Problem 4
A palindromic number reads the same both ways. The largest palindrome made from the product of two 2-digit numbers is 9009 = 91 × 99.

Find the largest palindrome made from the product of two 3-digit numbers.

from 100 - 999
    multiply every number by every other number
    then look for quality of palindrome
    if found
        return the two numbers used to compute it
        
find palindrome number
    find count of characters in number
    if even 
    if odd

In [155]:
# start n at zero
n = []
n1 = []
n2 = []

# iterate down from 1000
# multiplying each combination of numbers
for a in range(999, 100, -1):
    for b in range(a, 100, -1):
        x = a * b
        
        # for product combinations
        # check if order reversed is the same as not reversed

        s = str(a * b)
        if s == s[::-1]:

            n.append(a * b)
            n1.append(a)
            n2.append(b)

In [156]:
import pandas as pd
pd.DataFrame(list(zip(n, n1, n2))).sort_values(by=0, ascending=False).head(1)

        0    1    2
2  906609  993  913

### Problem 5
2520 is the smallest number that can be divided by each of the numbers from 1 to 10 without any remainder.

What is the smallest positive number that is evenly divisible by all of the numbers from 1 to 20?