#### Capstone 2

[Dataset](https://www.phoenixopendata.com/dataset/crime-data) downloaded on 9/25/2019 from the City of Phoenix Open Data Portal

In [2]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
import seaborn as sns
import datetime
%matplotlib inline 
plt.style.use('bmh')

In [19]:
# read in csv files
# it didn't work for me to convert to datetime on import
# maybe I can use parse_dates? https://stackoverflow.com/questions/23797491/parse-dates-in-pandas

df = pd.read_csv('crime-data_crime-data_crimestat.csv',dtype={
     'INC NUMBER': 'str', 
     'OCCURRED ON': 'str', 
     'OCCURRED TO': 'str', 
     'UCR CRIME CATEGORY': 'str', 
     '100 BLOCK ADDR': 'str', 
     'ZIP': 'float',
     'PREMISE TYPE': 'str'
})

In [20]:
df.head()

,INC NUMBER,OCCURRED ON,OCCURRED TO,UCR CRIME CATEGORY,100 BLOCK ADDR,ZIP,PREMISE TYPE
0,201500002101405,11/01/2015 00:00,11/01/2015 05:00,MOTOR VEHICLE THEFT,102XX W MEDLOCK AVE,85307.0,SINGLE FAMILY HOUSE
1,201500002102668,11/01/2015 00:00,11/01/2015 11:50,MOTOR VEHICLE THEFT,69XX W WOOD ST,85043.0,SINGLE FAMILY HOUSE
2,201600000052855,11/01/2015 00:00,01/09/2016 00:00,MOTOR VEHICLE THEFT,N 43RD AVE & W CACTUS RD,85029.0,SINGLE FAMILY HOUSE
3,201500002168686,11/01/2015 00:00,11/11/2015 09:30,LARCENY-THEFT,14XX E HIGHLAND AVE,85014.0,PARKING LOT
4,201700001722914,11/01/2015 00:00,NaN,LARCENY-THEFT,279XX N 23RD LN,85085.0,SINGLE FAMILY HOUSE

In [23]:
# convert column labels to lower case and remove spaces from column names
df.columns = df.columns.str.replace(' ', '_')
df.columns = map(str.lower, df.columns)

In [24]:
df.head()

,inc_number,occurred_on,occurred_to,ucr_crime_category,100_block_addr,zip,premise_type
0,201500002101405,11/01/2015 00:00,11/01/2015 05:00,MOTOR VEHICLE THEFT,102XX W MEDLOCK AVE,85307.0,SINGLE FAMILY HOUSE
1,201500002102668,11/01/2015 00:00,11/01/2015 11:50,MOTOR VEHICLE THEFT,69XX W WOOD ST,85043.0,SINGLE FAMILY HOUSE
2,201600000052855,11/01/2015 00:00,01/09/2016 00:00,MOTOR VEHICLE THEFT,N 43RD AVE & W CACTUS RD,85029.0,SINGLE FAMILY HOUSE
3,201500002168686,11/01/2015 00:00,11/11/2015 09:30,LARCENY-THEFT,14XX E HIGHLAND AVE,85014.0,PARKING LOT
4,201700001722914,11/01/2015 00:00,NaN,LARCENY-THEFT,279XX N 23RD LN,85085.0,SINGLE FAMILY HOUSE

In [21]:
df.dtypes

INC NUMBER             object
OCCURRED ON            object
OCCURRED TO            object
UCR CRIME CATEGORY     object
100 BLOCK ADDR         object
ZIP                   float64
PREMISE TYPE           object
dtype: object

In [22]:
df.shape

(253000, 7)

In [15]:
df['PREMISE TYPE'].value_counts()

SINGLE FAMILY HOUSE                    44658
APARTMENT                              28929
STREET / ROADWAY / ALLEY / SIDEWALK    25542
PARKING LOT                            25361
RETAIL BUSINESS                        19515
                                       ...
STOREROOM / SHED                           8
REST AREA                                  7
LAKE / WATERWAY / BEACH                    4
MILITARY INSTALLATION                      2
TRIBAL LANDS                               2
Name: PREMISE TYPE, Length: 96, dtype: int64